# all files and subdirectories
*
!*/

# except these
!cfg/*
!data/ulx/adverts.txt
!data/ulx/config.txt
!lua/autorun/server/*
!server-scripts/*

# files that exist in the base dir
*.vpk
*.vbsp
./*.txt
*.cache
*.inf
*.db
*.rad

!docker-compose.yml
!Dockerfile
